<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoanMe</title>
  </head>
  <body>
    <div>
      <h1>Login</h1>
      <form action="">
        <label>Benutzername</label>
        <input type="text">

        <label>Passwort</label>
        <input type="password">
        <button class="btn btn-default" type="button" name="button"></button>
      </form>
      <p><a href="/register">Account erstellen</a></p>
    </div>
  </body>
</html>
